<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dhindora - Announce it to the world</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Sora', sans-serif;
                text-align: center;
            }

            .button {
                background-color: #e7e7e7;
                border: 1px solid black;
                color: black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="myDiv" style="float:top;">
            <h1>Dhindora - Announce it to the world</h1>
        </div>
        <hr>
        <strong>
            Currently we are using twilio sandbox <br>
            So even before scanning QR code you first have to send a WhatsApp message to +1 415 523 8886 with code "join us-return"
        </strong>
        <div style="float:left;margin-left:100px;margin-top:100px;">
            <p style="font-size:20px;">
                Dhindora empowers small and self-employed businesses<br>
                and creators to engage their audiences directly through whatsapp<br>
                Use cases :- Micro-blogging, Advertising, Informing, and Alerting <br>
                Made for India <3.
            </p>
            <h2>Features of this application :-</h2>
            <ul style="font-size:20px;">
                <li>There are 500M+ users on whatsapp from India</li>
                <li>Share your articles, newsletter, thoughts to your audience right from whatsapp</li>
                <li>All your content sent directly to your audience whatsapp</li>
                <li><strong>Full privacy.</strong> Your number won't be shared to your audience</li>
                <li>Receive your articles your in the language you prefer</li>
            </ul>
        </div>
        <div style="float:right;margin-right:200px;margin-top:50px;">
            <h2>Scan to Register</h2>
            <div id="qrcode"></div>
        </div>
        <div style="position:fixed;width:100%;bottom:0;padding-bottom:25px;font-size:120%;">
            <hr>
            <text>Project by Team Jordans</text>
        </div>
    </body>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script type="text/javascript">
        const number = "<%- twilioBotNumber %>"
        const message = "<%- registerMessage %>"
        new QRCode(document.getElementById("qrcode"), `https://api.whatsapp.com/send?phone=${number}&text=${message}`)
    </script>

</html>